<div class="card_booking_confirmation">

  <%= image_tag @booking.watch.image, alt: "watch" %>
  <div class="informations">
    <h2><%= booking.watch.brand %></h2>
    <%= booking.watch.description %>
    <br>


  </div>
  <div class="price">
    <h4><%= booking.watch.price %> €</h4>
  </div>
</div>

