<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="footer">
  <div class="footer-links">
    <a href="#" class="fa fa-facebook"></a>
    <a href="#" class="fa fa-twitter"></a>
    <a href="#" class="fa fa-instagram"></a>
   <!--  <a href="#"><i class="fa fa-github"></i></a>
    <a href="#"><i class="fa fa-instagram"></i></a>
    <a href="#"><i class="fa fa-facebook"></i></a>
    <a href="#"><i class="fa fa-twitter"></i></a>
    <a href="#"><i class="fa fa-linkedin"></i></a> -->
  </div>
  <div class="footer-copyright">
    Welcome to WatchesBNB <i class="fa fa-heart"></i>
  </div>
  <div class="footer-copyright">
    Need Help ?
  </div>
  <div class="footer-copyright">
    About Us
  </div>
</div>

