<!-- barre criteres -->
  <div class="dropdown">
    <div class="row">
      <% 10.times do %>
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          CRITERE
        </button>
        <div class="dropdown-menu" aria-labelledby="BRAND">
          <a class="dropdown-item" href="#">Action</a>
        </div>
      <% end %>
    </div>
  </div>
</div>


<!-- cards -->


<div class="container">
  <h1 class="text-center">List of watches</h1>
  <div class="cards">
    <div class="row">
      <% @watches.each do |watch|%>
        <div class="col-xs-12 col-sm-4">
          <div class="card">
            <div class="card-content">
              <div class="card-image" style="background: url(<%= watch.image %>);">
                <div class="hidden-description">
                  <h3><%= watch.name %></h3>
                  <p class="lorem-et-hardy"><%= watch.description %></p>
                  <p>CREATED ** HOURS AGO</p>
                </div>
              </div>
              <ul class="card-stats">
                <li><i class="fas fa-eye"></i> NUMBER VIEWS</li>
              </ul>
            </div>

            <div class="card-user">
              <img src="http://via.placeholder.com/150x150" alt="avatar">
              <p><%= watch.user %></p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
