// Import your components CSS files here.
@import "alert";
@import "navbar";
@import "cards";
@import "card_booking_confirmation";
@import "footer";

h3 {
  text-align: center;
  padding: 10px;
}

p {
  text-align: center;
  padding-top: 20px;
}

